<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Dominic Davies</h1>
		<p>Welcome to app 3 of my 31 apps challenge.</p>
		<p>This week I'm building blogs in Rails 5.  I know, crazy right?  Sometimes you got to build and build until it sticks.  You're actually on a demo application right now.</p>
		<p>If you'd like to follow along as I learn more Ruby on Rails, find me on Twitter <a href="http://twitter.com/railsbuilder">@railsbuilder</a> or on the web at <a href="http://railsbuilder.com">railsbuilder.com</a>.</p>
	</div>
</div>